a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
}
.row {
    min-width: 1280px;
    width: 100%;
}
.header {
    background-color: white;
    height: 57px;
    z-index: 13;
}
.header_title{
    float: left;
    padding: 0 5%;
    margin: 10px 0;
}
.title_text {
    float: left;
    font-size: 21px;
    font-family: "SimHei";
    color: rgb( 57, 58, 58 );
    z-index: 12;
    padding: 5px;
}
.title_icon {
    width: 34px;
    height: 34px;
    z-index: 7;
    float: left;
}
.header_nav {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb( 231, 79, 77 );
    float: right;
    margin: 18px 0;
    width: 35%;
    z-index: 11;
}
.nav_tab{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 19%;
    color: black;
}
.nav_tab:hover{
    color: rgb( 231, 79, 77 );
}
.nav_tab:hover::after{
    content: url("images/nav-icon.png");
    position: absolute;
    width: 20%;
    top: 24px;
    left: 15%;
}
.header_login {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    float: right;
    z-index: 10;
    margin: 18px 5% 0 15px;
}
.login{
    float: left;
}
.login a:hover, .login a:visited, .login a:link, .login a:active {
    color: rgb( 231, 79, 77 );
    margin: 0 5px;
}
.login_icon {
    width: 14px;
    height: 17px;
    float: left;
    z-index: 9;
}




.one {
    height: 700px;
    overflow: hidden;
    background-image: url("images/one-bg.png");
    background-repeat: round;
    z-index: 21;
}
.one_subtitle {
    font-size: 21px;
    font-family: "Microsoft YaHei";
    color: rgb( 255, 253, 253 );
    width: 300px;
    line-height: 1.2;
    position: absolute;
    left: 10%;
    top: 280px;
    z-index: 19;
}
.one_title {
    font-size: 60px;
    font-family: "Microsoft YaHei";
    color: rgb( 255, 255, 255 );
    line-height: 0.45;
    position: absolute;
    left: 10%;
    top: 190px;
    z-index: 18;
}
.one_button {
    background-image: url("images/one-button.png");
    background-size: 120% 120%;
    background-position: -10px -10px;
    position: absolute;
    left: 10%;
    top: 420px;
    width: 331px;
    height: 65px;
    z-index: 17;
    font-size: 30px;
    font-family: "Microsoft YaHei";
    border: 0;
    text-align: center;
    color: white;
}
.one_buttontext {
    color: rgb( 255, 255, 255 );
    line-height: 0.9;
    position: absolute;
    left: 225px;
    top: 528.277px;
    z-index: 20;
}
.one_cover {
    opacity: 0.2;
    width: 100%;
    height: auto;
    z-index: 16;
}

.two {
    height: 300px;
    background-color: white;
    z-index: 33;
}
.two_box {
    font-size: 18px;
    font-family: "SimHei";
    color: rgb( 118, 119, 119 );
    line-height: 1.286;
    text-align: center;
    position: relative;
    float: left;
    width: 15%;
    padding: 0 5%;
    height: 100%;
    z-index: 32;
}
.two_box + .two_box::before{
    content: url("images/tow-line.png");
    position: absolute;
    left: 0;
    top: 150px;
}
.two_box_icon, .two_box_content{
    margin: 50px 0 0 0;
}

.three{
    height: 361px;
    background-color: rgb(236, 236, 236);
    z-index: 33;
}


.three_img{
    margin: 0 auto;
    padding: 70px;
    display: block;
    width: 91px;
    height: 92px;
    z-index: 37;
}

.three_text {
    font-size: 53.586px;
    font-family: "SimHei";
    color: rgba( 50, 51, 51, 0.502 );
    line-height: 1.056;
    text-align: center;
    margin: 0 auto;
    z-index: 38;
}

.four{
    background-image: url("images/four-bg.png");
    background-repeat: round;
    height: 341px;
    z-index: 40;
}
.four_title{
  font-size: 21px;
  font-family: "Microsoft YaHei";
  color: rgb( 255, 255, 255 );
  text-align: center;
  padding: 30px 0;
  line-height: 1.994;
  z-index: 72;
}
.four_subtitle{
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: rgba( 255, 255, 255, 0.8 );
  text-align: center;
  line-height: 2.605;
  z-index: 73;
}
.four_bar{
    width: 80%;
    margin: 40px 10%;
}
.four_bar *{
    width: 23%;
    height: 30px;
    margin: 0 1%;
    border: 0;
    float: left;
}


select{
    -webkit-appearance: none;
    background: url("images/four-select.png") no-repeat scroll 95% center transparent;
    background-color: #FFF;
    padding: 0 3%;
}
select:focus{
    outline-color: rgb(191, 79, 73);
}
option{
    background-color: #DDD;
    outline-color: rgb(191, 79, 73);
    border: 10px solid rgb(191, 79, 73);
}
option:hover{
    background-color: rgb(191, 79, 73);
}
.four_bar button{
    background-color: rgb(191, 79, 73);
    color: white;

}

.five{
    background-color: rgb(247, 247, 247);
    height: 600px;
    z-index: 50;
}
.five_bar{
    padding: 100px 12%;
    width: 76%;
    height: 400px;
    font-size: 0;
}
.five_box{
    margin: 0 2%;
    width: 21%;
    height: 100%;
    display: inline-block;
}
.five_box:hover .five_title{
    font-size: 20px;
    text-align: justify;
    margin-top: 6px;
}
.five_box:hover .five_subtitle{
    margin-top: -27px;
}
.five_box:hover .five_title::after{
    content: "";
    display: inline-block;
    padding-left: 100%;
}
.five_title{
    font-size: 16px;
    text-align: center;
    margin: 10px;
}
.five_subtitle{
    text-align: center;
    margin-bottom: 5px;
    color: #aaa;
    font-size: 12px;
}
.five_img{
    height: auto;
    width: 90%;
    padding: 5%;
    border: 1px solid #ddd;
}

.six{
    height: 570px;
    background-color: white;
    position: relative;
}
.six::after{
    content: "";
    display: block;
    clear: both;
}
.six_left{
    background-image: url("images/six_pic1.png");
    background-repeat: round;
    height: 570px;
    width: 66.66%;
    float: left;
}
.six_t1{
    color: white;
    text-align: center;
    margin: 100px 0 -30px;
    font-size: 50px;
}
.six_t2{
    color: white;
    text-align: center;
    font-size: 150px;
}
.six_t3{
    color: white;
    text-align: center;
    font-size: 20px;
}
.six_t4{
    color: white;
    text-align: center;
    font-size: 20px;
}
.six_tra{
    width: 26px;
    height: 31px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(66.66% - 26px);
}
.six_content{
    width: 33.33%;
    height: 320px;
    padding: 150px 0 100px;
    float: right;
}
.six_content .six_title{
    text-align: center;
    font-size: 25px;
}
.six_content .six_title span{
    color: rgb( 231, 79, 77 );
}
.six_content .six_text{
    width: 80%;
    padding:2em 10%;
    color: #aaa;
    line-height: 2em;
}
.six_content button{
    width: 25%;
    display: block;
    font-weight: bold;
    height: 30px;
    color: #e77b7d;
    background-color: white;
    border: 1px solid #e77b7d;
    margin: 0 auto;
}
.six_rlabel{
    background-image: url("images/radio.png");
    background-repeat: no-repeat;
    background-position: -25px 0;
    display: inline-block;
    margin: 0 10%;
    width: 12px;
    height: 12px;
}
.radio_container{
    font-size: 0;
    margin: 20px auto;
    width: 25%;
}
#r1:checked ~ #rl1{
    background-position: 0 0;
}
#r2:checked ~ #rl2{
    background-position: 0 0;
}
#r3:checked ~ #rl3{
    background-position: 0 0;
}
input[type="radio"]{
    display: none;
}

.seven{
    height: 520px;
    text-align: center;
    position: relative;
}
.seven > div{
    float: left;
    padding: 150px 10%;
    width: 13.33%;
    height: 220px;
    font-size: 21px;
}
.seven_left{
    background-color: #e74f4d;
    color: white;
}
.seven_mid{
    background-color: white;
    color: #e74f4d;
}
.seven_right{
    background-image: url("images/seven_pic.png");
    background-repeat: round;
}
.seven_tra{
    width: 26px;
    height: 31px;
    position: absolute;
    top: calc(50% - 15px);
    left: 66.66%;
    transform: rotate(180deg);
}
.seven_text{
    padding: 0;
    line-height: 1.5em;
}
.seven_mid button, .seven_left button{
    width: 100%;
    height: 2em;
    font-size: 21px;
    margin: 20px 0;
}
.seven_left button{
    color: white;
    background-color: #e74f4d;
    border: 1px solid white;
}
.seven_mid button{
    color: #e74f4d;
    background-color: white;
    border: 1px solid #e74f4d;
}

.eight_1{
    height: 300px;
    width: 33.33%;
    margin: 0 auto;
    text-align: center;
}
.eight_1 .eight_1_title{
    font-size: 1.5em;
    padding: 100px 0 20px;
}
.eight_1 .eight_1_subtitle{
    font-size: 0.5em;
    color: #aaa;
}
.eight_2{
    height: 450px;
}
.eight_2 > div{
    float: left;
    height: 450px;
}
.eight_2_left{
    width: 25.33%;
    padding: 0 0 0 8%;
}
.eight_2_left_box::after{
    content: "";
    display: block;
    clear: both;
}
.eight_2_left_title{
    font-size: 16px;
    font-family: "SimHei";
    color: rgba( 35, 24, 21, 0.8 );
    line-height: 1.929;
    margin: 0 0 1em 0;
}
.eight_2_left_text{
    font-size: 14px;
    font-family: "SimSun";
    color: rgba( 35, 24, 21, 0.6 );
    line-height: 1.75;
}
.eight_2_left_a{
    float: right;
    width: 20%;
}
.eight_2_right{
    width: 56.66%;
    padding: 0 5%;
    font-size: 0;
}
.eight_2_right form *{
    border: 0;
    padding: 0;
    background-color: #eee;
    color: black;
    font-size: 16px;
}
.eight_2_right input, .eight_2_right textarea, .eight_2_right button{
    margin: 15px 20px 0 0;
}
.eight_2_right input{
    width: calc(50% - 20px);
    height: 40px;
}
.eight_2_right textarea{
    width: calc(100% - 20px);
    height: 120px;
    resize: none;
}
.eight_2_right button{

    width: calc(100% - 20px);
    height: 40px;
}


.bottom{
    height: 420px;
}
.bottom_1{
    height: 220px;
    width: 40%;
    padding: 80px 30%;
    background-color: #32353e;
    color: white;
}
.bottom_1_title{
    font-size: 21px;
    font-family: "SimHei";
    line-height: 2.303;
    text-align: center;
}
.bottom_1_text{
    font-size: 12px;
    font-family: "SimSun";
    line-height: 1.5;
    text-align: center;
    margin: 0 5% 20px;
    color: #ddd;
}
.bottom_1 > input, .bottom_1 > button{
    padding: 0;
    border: 0;
    margin: 10px 0;
    float:left;
    height: 40px;
}
.bottom_1 > input{
    width: 85%;
}
.bottom_1 > button{
    color: white;
    width: 15%;
    background-color: #6f7278;
}
.bottom_2{
    height: 40px;
    background-color: #2f2f38;
    padding: 20px 0;
    font-size: 14px;
    color: white;
}
.icon_bar{
    padding: 0 30%;
}
.icon_bar img{
    float: left;
    margin: 0 calc((100% - 106px)/8);
}
